<div class="author-page">
  <h1>Об авторе</h1>
  
  <div class="author-info">
    <p>Меня зовут <strong>Рогожин Алексей</strong>.</p>
    <p>Я разработчик этого приложения на Ruby on Rails.</p>
    
    <div class="github-link">
      Мой профиль на GitHub:
      <%= link_to 'https://github.com/acidzloi', 'https://github.com/acidzloi', 
                 target: '_blank', rel: 'noopener noreferrer' %>
    </div>
  </div>
</div>