<nav class="navbar fixed-bottom navbar-light bg-light">
  <footer>

    <p>Project: <%= github_url('acidzloi', 'TestGuru') %></p>
    <p> Description: Application for testing.</p>
    <p><%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com/", target: '_blank' %></p>
    <p>Year: <%= current_year %></p>
  </footer>
</nav>
