<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('.show'), [:admin, question] %></td>
  <td><%= link_to t('.edit'), [:edit, :admin, question] %></td>
  <td>
    <%= link_to t('.delete'), [:admin, question],
                method: :delete,
                data: { confirm: t('.confirm') } %>
  </td>
</tr>
