<h2>Test questions</h2>

<table>
  <tr>
    <th>Body</th>
    <th>Correct</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @test.questions %>

</table>

<p><%= link_to "Add question", new_admin_test_question_path(@test), method: :get %></p>

<%= link_to 'All Tests', admin_tests_path %>
<%= link_to 'Edit', edit_admin_test_path(@test) %>
