<h1>StaticPages#about</h1>
<h1>О проекте</h1>

<p>Этот проект разработан для обучения программированию на Ruby on Rails.</p>

<p>Обучение онлайн-школа 
  <%= link_to 'Thinknetica', 'http://www.thinknetica.com', target: '_blank', rel: 'noopener noreferrer' %>.
</p>